// ===========================
// MAIN CONTENT STYLES
// ===========================

@use '@styles/Base' as *;


.main-content {
  flex: 1;
  width: 100%;
  padding-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height});
  background-color: var(--color-background);
  transition: background-color $transition-normal;
}