// ===========================
// APP LAYOUT STYLES
// ===========================

@use '@styles/Base' as *;


.app-layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--color-background);
}